<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Hello, world!</title>

</head>
<body>
<style>
  .choice {
    background-color: #eeeecc;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 4px;
    padding: 2px 6px;
    display: inline-block;
    cursor: pointer;
  }
</style>
<div class="m-4">
  <div id="conversation">
    <div>Hi! I'm a chatbot. I'm here to help!</div>
    <div>What would you like to do?</div>
    <div>
      <a onclick="submitChoice(this)" data-choice="joke" class="choice">Tell me a joke.</a>
      <a onclick="submitChoice(this)" data-choice="search" class="choice">Google Search.</a>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script>
  function submitChoice(el) {
    let choice = el.dataset.choice;
    $.post("/chat", {choice}, function(result) {
      $(result).appendTo($("#conversation"));
    });
  }
</script>

</body>
</html>